.tools-container{
    /* background-color: aqua; */
   height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}

.Platform-label{
    width: inherit;
    text-align: center;
}

.platforms{
   
    /* background-color: blueviolet; */
    display: flex;

}
.platforms-imac{
    /* background-color: green; */
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.platforms-windows{
    /* background-color: rgb(235, 23, 214); */
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-w-img{
    height: 18rem;
    
}

.platform-i-img{
    height: 6rem;
}