*{
  margin: 0;
  padding: 0;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

html{
  width: 100%;
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
}
.component-label{
  font-size: 4rem;
  color: white;
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
}
